/* 
    Document   : stylo
    Created on : 16-Sep-2013, 12:42:58 PM
    Author     : Marc
    Description:
        style the portfolio website with Style Which Augments Grooviness
*/

root { 
    display: block;
}

